

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: small-caps;
  text-align: center;
  background: #7a7d4f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 60px;
}
/* Card container (the flex parent) */
.card-container {
  display:flex;
  flex-wrap: wrap; /* allow wrapping */
  justify-content: center;
  gap: 10px; /* space between cards */
}

/* Individual card style */
.card {
  background-color: rgb(144, 151, 228);
  color: brown;
  padding: 60px;
  border: 3px solid rgb(20, 97, 97);
  border-radius: 200px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(136, 17, 17, 0.2);
  text-align: center;
}

.card:hover {
  transform: scale(1.50);
  background-color: #8c9052;
  cursor: pointer;
}