* {
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: oklab(59.594% -0.04406 0.00286);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
}

/* Style the header */
header {
  background-color: rgb(20, 97, 97);
  color: rgb(214, 214, 230);
  text-align:center;
  border-radius: 40px;
}

/* Main content */
main {
  background-color: rgb(202, 168, 168);
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 40px;
  text-decoration:darkolivegreen;
  font: 200;
}

.card {
  background-color: rgb(144, 151, 228);
  color: brown;
  padding: 30px;
  border: 3px solid rgb(20, 97, 97);
  border-radius: 15px;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(136, 17, 17, 0.2);
}

/* Links */
a {
  color: rgb(255, 0, 85);
  text-decoration: double;
}

a:hover {
  color: blue;
}

/* Footer */
footer {
  text-align: end;
  margin-top: 30px;
  font-size: 14px;
  color: black;
}